<html>
    <head>
    <!--Import Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Quicksand|Special+Elite|Montserrat|Pacifico&display=swap" rel="stylesheet">
    <!--Import CSS Files-->
      <link type="text/css" rel="stylesheet" href="/css/bulma.min.css" />
    <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <title>Pocket Gazette</title>
    </head>
    <body>
        <section id="heroid" class="hero is-fullheight is-hcentered is-vcentered">
            <div class="hero-body">
                <div class="container has-text-centered">
                    <img src="/assets/pagenotfound.png" height="500" width="500">
                    <p style="font-family: Pacifico; color: black; font-size: 1.3em;">The page you requested is not found.</p>
                </div>
            </div>
        </section>
    </body>
</html>