<html>
    <head>
    <!--Import Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Quicksand|Special+Elite|Montserrat|Pacifico&display=swap" rel="stylesheet">
    <!--Import CSS Files-->
      <link type="text/css" rel="stylesheet" href="/css/bulma.min.css" />
      <link type="text/css" rel="stylesheet" href="/css/home.css"/>
    <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <title>Pocket Gazette</title>
    </head>
    <body>
        <section id="registerid" class="hero is-fullheight is-hcentered">
            <div class="hero-body">
                <div class="container has-text-centered">
                    <h1 class="pagetitle">
                        <span>Welcome to the Fam</h1>
                    <div class="columns is-vcentered">
                        <div class="column">
                            <img src="/assets/register.png" height="300" width="300">
                        </div>
                        <div class="column" id="formbg">
                            <form action="" method="POST">
                                <div class="field">
                                    <label class="label">Username</label>
                                    <div class="control">
                                        <input class="input" type="text" placeholder="capturemathan" name="username" is-primary>
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">Password</label>
                                    <div class="control">
                                        <input class="input" type="password" placeholder="secret" name="password" is-primary>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="control">
                                        <input name="registerbtn" id="button" class="button is-medium" type="submit" value="Register">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>     
    </body>
</html>