html {
    scroll-behavior: smooth;
    color: black;
}
.pageheading {
    color: black;
    font-family: Pacifico;
    text-align: center;
    font-size: 2.0em;
    margin-top: 10px;
    padding-bottom: 30px;
    margin-bottom: 10px;
}

.pagetitle {
    color: black;
    font-family: Quicksand;
    text-align: center;
    font-size: 2.0em;
    margin-top: 10px;
    padding-bottom: 30px;
    margin-bottom: 10px;
}
.pagetitle span {
    border-radius: 10px 10px 10px 10px;
    background-color: #1b262c;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
}
#newscard{
    margin: 10;
    padding: 10;
}
#sourcechip{
    float: right;
    font-family: Quicksand;
    font-weight: bold;
}
#newstitle{
    font-family: Special Elite;
    color: black;
    font-weight: bolder;
    font-size: 1.5em;
}
#newsdesc{
    font-family: Quicksand;
    font-size: 0.8em;
    font-weight: normal;
}

#footerchip{
    margin-top: 10;
}

#footerchip a{
    color: black;
    font-family: Quicksand;
    font-weight: bold;
}

footer {
    font-size: 1.3em;
    font-family: 'Pacifico';
}

.label{
    font-size: 1.3em;
    font-family: 'Pacifico';
}

#button {
    color: white;
    font-family: Quicksand;
    font-weight: lighter;
    padding-left: 15px;
    padding-right: 15px;
    float: right;
    margin-top: 10px;
    background-color: #1b262c;
}

#bookmarkbutton{
    margin-top: 10px;
    font-family: Quicksand;
    font-weight: bold;
    border: none;   
}

#bookmarkbutton:hover{
    cursor: pointer;
}

input, textarea, select {
    font-family: Quicksand;
}

.navbar-item{
    font-family: Quicksand;
}
#navtext {
    font-family: Pacifico;
    font-size: 1.3em;
}
#hiddeninput{
    display: none;
}