#newstitle{
    font-family: Quicksand;
    font-weight: bold;
    font-size: larger;
    text-align: center;
}

#cardimg img{
    border-radius: 15%;
}

#newscard{
    margin: 20;
    border-radius: 10;
}
#sourcechip{
    float: right;
}